<!--<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clockInOutModal">Lunch Dialog</button>-->

<!--<div class="modal fade" id="clockInOutModal">-->
<!--  <div class="modal-dialog modal-dialog-centered">-->
<!--    <div class="modal-content my-0">-->
<!--      <div class="container-fluid" style="font-family: montserrat,serif ">-->
<!--        <div class="row">-->
<!--          <div class="card title">-->
<!--            <div class="row ms-4 my-1 text-center">-->
<!--              <div class="col"></div>-->
<!--              <div class="col d-flex justify-content-center">-->
<!--              </div>-->
<!--              <div class="col d-flex justify-content-end me-4">-->
<!--                <button class="btn-close btn-close-white" data-bs-toggle="modal"></button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="card subtitle">-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row file-container" (change)="drawImage($event)">
  <input type="file" id="file">
</div>
<div class="container" style=" position: relative">

  <div class="row">
    <canvas   #mainCanvas style="position: absolute; background-color: blue; width: 400px; height: 400px"></canvas>
  </div>
  <div class="row">
    <canvas (mousemove)="onClick($event)" (mousedown)="setMouseDown($event)" (mouseup)="setMouseDown($event)" #croppedCanvas style="position: absolute; background-color: transparent; width: 400px; height: 400px"></canvas>
  </div>
</div>

<!--<div class="row">-->
<!--  <img id="hidden" src="assets/cropCircle.png" style="width: 10%; display: none">-->
<!--</div>-->
<!--<div class="row">-->
<!--  <img id="cropCircle" src="assets/cropCircle.png" alt="" style="width: 100px">-->
<!--</div>-->



