<div class="container">
  <div class="row" >
    <div class="col" style="max-width: 120px">
      <label for="inputaddress" class="col-form-label">Address:</label>
    </div>
    <div class="col" style="min-width: 365px">
      <input type="text" id="inputaddress" class="form-control">
    </div>
    <div class="col ps-5"  >
      <label for="inputzoning" class="col-form-label" style="max-width: 160px">Zoning:</label>
    </div>
    <div class="col" style="max-width: 160px">
      <input type="text" id="inputzoning" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col" style="max-width: 120px">
      <label for="inputlotarea" class="col-form-label">Lot Area:</label>
    </div>
    <div class="col" style="max-width: 120px">
      <input type="number" id="inputlotarea" class="form-control">
    </div>
    <div class="col" style="max-width: 100px">
      <select class="form-select" >
        <option selected>Unit</option>
        <option>Acres</option>
        <option>sqft</option>
      </select>
    </div>
    <div class="col" style="min-width: 160px">
      <label for="inputzoningmap" class="col-form-label" style="padding-left: 190px">Zoning Map:</label>
    </div>
    <div class="col" style="max-width: 160px">
      <input type="text" id="inputzoningmap" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col" style="max-width: 120px">
      <label for="inputlotfrontage" class="col-form-label">Lot Frontage:</label>
    </div>
    <div class="col" style="max-width: 120px">
      <input type="number" id="inputlotfrontage" class="form-control">
    </div>
    <div class="col" style="max-width: 100px">
      <select class="form-select" >
        <option selected>Unit</option>
        <option>Miles</option>
        <option>ft</option>
      </select>
    </div>
    <div class="col" style="min-width: 160px">
      <label for="inputnumberofbuildings" class="col-form-label" style="padding-left: 190px">Number of Buildings:</label>
    </div>
    <div class="col" style="max-width: 160px">
      <input type="number" id="inputnumberofbuildings" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col" style="max-width: 120px">
      <label for="inputlotdepth" class="col-form-label">Lot Depth:</label>
    </div>
    <div class="col" style="max-width: 120px">
      <input type="number" id="inputlotdepth" class="form-control">
    </div>
    <div class="col" style="max-width: 100px">
      <select class="form-select" >
        <option selected>Unit</option>
        <option>Miles</option>
        <option>ft</option>
      </select>
    </div>
    <div class="col" style="min-width: 160px">
      <label for="inputnumberoffloors" class="col-form-label" style="padding-left: 190px">Number of Floors:</label>
    </div>
    <div class="col" style="max-width: 160px">
      <input type="number" id="inputnumberoffloors" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col" style="max-width: 120px">
      <label for="inputsubdivision" class="col-form-label">Subdivision:</label>
    </div>
    <div class="col" style="min-width: 365px">
      <input type="text" id="inputsubdivision" class="form-control">
    </div>
    <div class="col" style="min-width: 160px">
      <label for="inputunit" class="col-form-label" style="padding-left: 45px">Unit:</label>
    </div>
    <div class="col" style="max-width: 160px">
      <input type="number" id="inputunit" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col" style="max-width: 120px">
      <label for="inputblock" class="col-form-label">Block:</label>
    </div>
    <div class="col" style="max-width: 120px">
      <input type="number" id="inputblock" class="form-control">
    </div>
    <div class="col" style="min-width: 160px" >
      <label for="inputlot" class="col-form-label" style="padding-left: 290px" >Lot:</label>
    </div>
    <div class="col" style="max-width: 160px">
      <input type="number" id="inputlot" class="form-control">
    </div>
  </div>
</div>
