<span class="card text-bg-primary" style="min-width: 18rem;">

  <div class="card-header header" >
    <div class="d-flex justify-content-between align">
      <span class="align-self-center">
        <ng-content select=".header-left"></ng-content>
      </span>
      <span>
        <ng-content select=".header-center"></ng-content>
      </span>
      <span>
        <ng-content select=".header-right"></ng-content>
      </span>
    </div>
  </div>

  <div class="secondary-bg text-bg-secondary" >
    <div class="card-header text-bg-secondary border-bottom-0">
      <div class="subheaderItems d-inline-flex justify-content-between">
        <span class="align-self-center">
          <ng-content select=".subheader-left"></ng-content>
        </span>
        <span >
          <ng-content select=".subheader-center"></ng-content>
        </span>
        <span>
          <ng-content select=".subheader-right"></ng-content>
        </span>
      </div>
    </div>

  </div>
  <div class="card-body text-secondary text-bg-secondary">
    <span class=" d-flex flex-column align-items-center">
      <ng-content select=".body"></ng-content>
    </span>
  </div>

</span>
