<div class="container-fluid">
  <div class="col col1">
    <table class="table table-striped table-bordered table-hover">
      <thead style="background-color: #828FA0; color: #E1EBF6">
        <th style="text-indent: 10px">Transaction</th>
        <th style="text-align: center">Sales Date</th>
        <th style="text-align: center">Cost</th>
        <th style="text-align: center">Type of Transaction</th>
      </thead>
      <tbody>
        <tr *ngFor="let tran of transactions">
          <td>{{tran.discr}}</td>
          <td style="text-align: center">{{tran.date}}</td>
          <td style="text-align: center">{{tran.cost}}</td>
          <td style="text-align: center">{{tran.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
