.container{
  position: absolute;
  left: 45px;
  top: 103px;
  width: 1335px;
  height: 98px;
  border-radius: 10px;
  background-color: #828fa0;
  font-size: 20px;
  font-weight: 400;
}
.col{
  text-align: center;
}
.row{
  align-items: center;
}
