<!--<div class="container">-->
<!--  <div class="row" style="padding-top: 10px">-->
<!--    <div class="col">-->
<!--      <label for="name">Name</label>-->
<!--      <input class="shadow" type="text" id="name" style="max-width: 230px">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <label for="address">Address</label>-->
<!--      <input class="shadow" type="text" id="address" style="min-width: 300px">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <label for="memberid">Member ID</label>-->
<!--      <input class="shadow" type="text" id="memberid" style="max-width: 200px">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <label for="unit">Unit</label>-->
<!--      <input class="shadow" type="text" id="unit" style="max-width: 70px">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <label for="block">Block</label>-->
<!--      <input class="shadow" type="text" id="block" style="max-width: 70px">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <label for="lot">Lot</label>-->
<!--      <input class="shadow" type="text" id="lot" style="max-width: 70px">-->
<!--    </div>-->
<!--    <div class="col" style="padding-top: 30px">-->
<!--      <button type="button" style="min-width: 152px; border-radius: 10px;background-color: #E1EBF6">Search</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div
  [@fade]="invalidSearch ? 'visible' : 'hidden'"
  class="invalid-message">
  <div class="row text-center my-2 mx-auto py-2" id="invalid-message" style="background-color: #A73E40; color: white; border-radius:5px; width: fit-content">
    <span>Please fill at least one field to perform the search</span>
  </div>
</div>
<div class="container p-2 mt-3 mb-5">
  <form [formGroup]="propertySearch" (ngSubmit)="search()" (keyup.enter)="search()" (change)="onChange()">

    <div class="row text-center" style="color: white">
      <h2>Property Search</h2>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="address">Address</label>
        <input class="form-control shadow" type="text" id="address" formControlName="address">
      </div>
      <div class="col">
        <label for="lot">Lot</label>
        <input class="form-control shadow" type="text" id="lot" formControlName="lot">
      </div>
      <div class="col">
        <label for="unit">Unit</label>
        <input class="form-control shadow" type="text" id="unit" formControlName="unit">
      </div>
      <div class="col">
        <label for="block">Block</label>
        <input class="form-control shadow" type="text" id="block" formControlName="block">
      </div>
      <div class="col-2 text-center text-nowrap">
        <label for="numberOfBuildings">Number of Buildings</label>
        <input class="form-control shadow" type="text" id="numberOfBuildings" formControlName="numberOfBuildings">
      </div>
      <div class="col" style="padding-top: 30px">
        <button (click)="search()" class="btn btn-primary" type="button" style="min-width: 152px; border-radius: 10px;background-color: #E1EBF6; color: black">Search</button>
      </div>
    </div>
  </form>
</div>
