<div class="container list-group" style="min-width: fit-content" style="font-family: montserrat,serif">
  <div class="row align-items-baseline flex-nowrap" (change)="onChange()">
    <div class="col name" style="min-width: 170px">
      <span>{{employeeScheduleObj.empName}}</span>
    </div>
    <div class="col">
      <select [(ngModel)]="sun" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <select [(ngModel)]="mon" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <select [(ngModel)]="tue" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <select [(ngModel)]="wed" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <select [(ngModel)]="thu" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <select [(ngModel)]="fri" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <select [(ngModel)]="sat" class="form-select shadow" [disabled] = "shifts[0] === 'vacation'">
        <option *ngFor="let shift of shifts" [value]="shift">{{shift}}</option>
      </select>
    </div>
    <div class="col">
      <input [(ngModel)]="employeeScheduleObj.empVacation" class="form-check-input" type="checkbox">
    </div>
  </div>
</div>
