<div class="container" style="font-family: montserrat,serif ">
  <div class="row">
    <div class="card title mt-5" style="background-color: #454E5C; color: white; min-width: 1200px">
      <div class="row my-1">
        <div class="col ms-5">
          <span>New Employee</span>
        </div>
        <div class="col  text-end me-5">
          <span>ID #0000000</span>
        </div>
      </div>
      <div class="row">
        <div class="card subtitle" style="background-color: #828FA0">
          <div class="row my-1">
            <div class="row">
              <div class="col ms-5">
                <span>Personal Information</span>
              </div>
              <div class="col me-3" style="display: grid; place-items: end">
                <button (click)="submitForm()" class="btn btn-primary"
                        [attr.data-bs-toggle]="form.invalid ? 'modal' : null"
                        [attr.data-bs-target]="form.invalid ? '#invalidMessage' : null"
                        style="background-color: #F5F5F5; color: black">
                  Save Employee
                </button>
                <div class="modal fade" id="invalidMessage">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="color: black; background-color: #E1EBF6">
                      <div class="modal-header">
                        <div class="container">
                          <div class="row">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="row text-center">
                            <p *ngIf="empInfo.email !== emailInitText">
                              Please remember to fill
                              the required fields before submitting
                            </p>
                            <p *ngIf="empInfo.email === emailInitText">
                              Please remember to fill
                              the email field before creating login
                            </p>
                          </div>
                          <div class="row py-2">
                            <img src="assets/infoIcon.svg" alt="" style="height: 40px">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-auto mt-1 mb-1">
              <div class="col-9 me-2"
                   style="background-color: #F5F5F5; color: black; display: grid; place-content: center">
                <form [formGroup]="form" (ngSubmit)="submitForm()" (change)="onChange()">
                  <div class="row employee-name">
                    <div class="col first-name">
                      <label for="firstName" class="form-label">First Name*</label>
                      <input class="form-control shadow" type="text" id="firstName" formControlName="firstName"
                             style="border-width: 2px">
                    </div>
                    <div class="col middle-name">
                      <label for="middleName" class="form-label">Middle Name</label>
                      <input class="form-control shadow" type="text" id="middleName" formControlName="middleName"
                             style="border-width: 2px">
                    </div>
                    <div class="col last-name">
                      <label for="lastName" class="form-label">last Name*</label>
                      <input class="form-control shadow" type="text" id="lastName" formControlName="lastName"
                             style="border-width: 2px">
                    </div>
                  </div>
                  <div class="row employee-address mt-3">
                    <div class="col address">
                      <label for="address" class="form-label">Address*</label>
                      <input class="form-control shadow" type="text" id="address" formControlName="address"
                             style="border-width: 2px">
                    </div>
                    <div class="col city">
                      <label for="city" class="form-label">City*</label>
                      <input class="form-control shadow" type="text" id="city" formControlName="city"
                             style="border-width: 2px">
                    </div>
                    <div class="col state">
                      <label for="state" class="form-label">State*</label>
                      <select class="form-control shadow" name="" id="state" formControlName="state"
                              style="border-width: 2px">
                        <option value="">Select a state</option>
                        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                      </select>
                    </div>
                    <div class="col zip-code">
                      <label for="zip" class="form-label">Zipcode*</label>
                      <input class="form-control shadow" type="text" id="zip" formControlName="zip"
                             style="border-width: 2px">
                    </div>
                  </div>
                  <div class="row employee-contact mt-3">
                    <div class="col cell-phone">
                      <label for="cell" class="form-label">Cell Phone*</label>
                      <input class="form-control shadow" type="text" id="cell" formControlName="cell"
                             style="border-width: 2px">
                    </div>
                    <div class="col home-phone">
                      <label for="homePhone" class="form-label">Home Phone</label>
                      <input class="form-control shadow" type="text" id="homePhone" formControlName="homePhone"
                             style="border-width: 2px">
                    </div>
                    <div class="col email">
                      <label for="email" class="form-label">Email*</label>
                      <input class="form-control shadow" type="text" id="email" formControlName="email"
                             style="border-width: 2px">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col ms-1 p-4" style="background-color: #F5F5F5">
                <div class="row-cols d-flex justify-content-center py-3">
                  <img alt="" class="shadow" [src]=image
                       style="width: 200px; border-radius: 100px; border: 5px solid #828FA0;">
                </div>
                <div class="row-1 d-grid  mt-3">
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clockInOutModal">Upload
                    Image
                  </button>
                  <photo-import-dialog [circleCropper]="true" (croppedImg)=getImage($event)></photo-import-dialog>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card title mt-5" style="background-color: #828FA0; color: white; min-width: 1200px">
      <div class="row my-1">
        <div class="row-cols ms-5">
          <span>Roles</span>
        </div>
        <div class="row g-0 mx-auto my-1">
          <div class="col ms-2 me-1">
            <div class="card-title mb-0 py-1" style="background-color: #454E5C; border-radius: 10px 10px 0 0 ">
              <div class="row text-center text-nowrap">
                <div class="col"></div>
                <div class="col">
                  <span>Member Administrator</span>
                </div>
                <div class="col me-2 d-grid justify-content-end">
                  <input (change)="roleChange('memberAdmin')" class="form-check-input" type="radio" name="role"
                         id="memberAdmin" checked>
                </div>
              </div>
            </div>
            <div class="card-body"
                 style="height:100px; background-color: #E1EBF6; color: black; border-radius: 0 0 10px 10px; display: grid; place-content: center">
              <div class="row text-left">
                <ul>
                  <li>Add/Remove members</li>
                  <li>Edit member's information</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col ms-1 me-2">
            <div class="card-title mb-0 py-1" style="background-color: #454E5C; border-radius: 10px 10px 0 0 ">
              <div class="row text-center text-nowrap">
                <div class="col"></div>
                <div class="col">
                  <span>Property Administrator</span>
                </div>
                <div class="col me-2 d-grid justify-content-end">
                  <input (change)="roleChange('propertyAdmin')" class="form-check-input" type="radio" name="role"
                         id="propertyAdmin">
                </div>
              </div>
            </div>
            <div class="card-body"
                 style="height:100px; background-color: #E1EBF6; color: black; border-radius: 0 0 10px 10px; display: grid; place-content: center">
              <div class="row text-left">
                <ul>
                  <li>Add/Remove properties</li>
                  <li>Edit property's information</li>
                  <li>Enter Payments/Fees/Fines</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card title mt-5" style="background-color: #454E5C; color: white; min-width: 1200px">
      <div class="row">
        <div class="col ms-5 my-1">
          <span>Manage Login</span>
        </div>
        <div class="col">
          <div class="row">
            <div class="col d-grid justify-content-end mt-1"><span>{{empInfo.email}}</span></div>
            <div *ngIf="!empInfo.active" class="col-3 card d-grid justify-content-center me-5 mt-1"
                 style="background-color: #A73E40; color: white"><span>Not Active</span>
            </div>
            <div *ngIf="empInfo.active" class="col-3 card d-grid justify-content-center me-5 mt-1"
                 style="background-color: #4A7E3B; color: white"><span>Active</span>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="card" style="background-color: #828FA0">
          <div class="card-body my-2" style="background-color: #E1EBF6">
            <div class="row">

              <div class="col-3">
                <div class="card-title" style="color: black">
                  <div class="row">
                    <div class="col d-grid justify-content-end">
                      <img src="assets/lockIcon.svg" alt="" style="height: 20px">
                    </div>
                    <div class="col text-nowrap">
                      <h4>Create Login</h4>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
                <div class="card-body" style="color: black">
                  <div class="row" style="height: 120px">
                    <p>Creates a login that allows the employees to access the portal website.</p>
                  </div>
                  <div class="row  d-grid justify-content-center">
                    <button (click)="createLogin()" class="btn btn-primary shadow"
                            [attr.data-bs-toggle]="empInfo.email === emailInitText ? 'modal' : null"
                            [attr.data-bs-target]="empInfo.email === emailInitText ? '#invalidMessage' : null"
                            [disabled]="empInfo.active"
                            style="background-color: #F5F5F5; color: black; width: 200px">Create
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="card-title" style="color: black">
                  <div class="row">
                    <div class="col">
                      <img src="assets/rotate-left.png" alt="" style="height: 20px">
                    </div>
                    <div class="col text-nowrap">
                      <h4>Reset Login</h4>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
                <div class="card-body" style="color: black">
                  <div class="row" style="height: 120px">
                    <p>Emails a new temporary password to the employee personal email and/or unblocks lock logins.</p>
                  </div>
                  <div class="row  d-grid justify-content-center">
                    <button (click)="resetLogin()" class="btn btn-primary shadow" [disabled]="!empInfo.active"
                            style="background-color: #F5F5F5; color: black; width: 200px">Reset
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="card-title" style="color: black">
                  <div class="row">
                    <div class="col d-grid justify-content-end">
                      <img src="assets/xmark.png" alt="" style="height: 20px">
                    </div>
                    <div class="col text-nowrap">
                      <h4>Deactivate Login</h4>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
                <div class="card-body" style="color: black">
                  <div class="row" style="height: 120px">
                    <p>Disables employee from logging into the portal website.</p>
                  </div>
                  <div class="row  d-grid justify-content-center">
                    <button (click)="deactivateLogin()" class="btn btn-primary shadow" [disabled]="!empInfo.active"
                            style="background-color: #F5F5F5; color: black; width: 200px">Deactivate
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="card-title" style="color: black">
                  <div class="row">
                    <div class="col d-grid justify-content-end">
                      <img src="assets/power.png" alt="" style="height: 20px">
                    </div>
                    <div class="col text-nowrap">
                      <h4>Activate Login</h4>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
                <div class="card-body" style="color: black">
                  <div class="row" style="height: 120px">
                    <p>Re-enables employee login that was previously deactivated</p>
                  </div>
                  <div class="row  d-grid justify-content-center">
                    <button (click)="activateLogin()" class="btn btn-primary shadow" [disabled]="!empInfo.active"
                            style="background-color: #F5F5F5; color: black; width: 200px">Activate
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--{{empInfo | json}}-->
