
<div class="container" style="font-family: montserrat,serif">
  <div class="row">
    <div class="col">
      <time-frame></time-frame>
    </div>
  </div>
</div>
  <!--    <div class="col">-->
  <!--      <shift-maker (timeStamps)="getShiftTime($event)" title="First Shift" id="firstShift"></shift-maker>-->
  <!--    </div>-->
  <!--    <div class="col">-->
  <!--      <shift-maker (timeStamps)="getShiftTime($event)" title="Second Shift" id="secondShift"></shift-maker>-->
  <!--    </div>-->
  <!--    <div class="col">-->
  <!--      <shift-maker (timeStamps)="getShiftTime($event)" title="Third Shift" id="thirdShift"></shift-maker>-->
  <!--    </div>-->
  <!--  </div>-->
