<div class="container" style="font-family: montserrat,serif">
  <div class="row flex-nowrap">
    <div class="col mt-5">
      <time-frame (timeFrame)="getTimeFrame($event)"></time-frame>
    </div>
    <div class="col-9 mt-5">
      <div class="row flex-nowrap" (change)="buildingShiftsOptions()">
        <div class="col">
          <shift-maker (timeStamps)="getShiftTime($event)" title="First Shift" id="first"></shift-maker>
        </div>
        <div class="col">
          <shift-maker (timeStamps)="getShiftTime($event)" title="Second Shift" id="second"></shift-maker>
        </div>
        <div class="col mb-5">
          <shift-maker (timeStamps)="getShiftTime($event)" title="Third Shift" id="third"></shift-maker>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="row">-->
  <!--    <employee-schedule (sendSchedule)="getSchedules($event)" [employeeName]="'Alfredo Borroto'" [shifts]="shifts" [tempShifts]="shifts"></employee-schedule>-->
  <!--  </div>-->

  <div class="row overflow-auto" style="height: 600px; width: 1320px">
    <ul class="list-group">
      <li *ngFor="let employee of employees; let even = even" class="list-group-item"
          [ngClass]="{ 'list-group-item-primary': even, 'list-group-item-light': !even }"
      style="color:#454E5C; border-radius: 0">
        <employee-schedule (sendSchedule)="getSchedules($event)" [employeeName]="employee" [shifts]="shifts"
                           [tempShifts]="shifts"></employee-schedule>
      </li>
    </ul>
  </div>


</div>

