<div class="container" style="font-family: montserrat,serif">
  <div class="row flex-nowrap">
    <div class="col mt-5">
      <time-frame (timeFrame)="getTimeFrame($event)"></time-frame>
    </div>
    <div class="col-9 mt-5">
      <div class="row flex-nowrap">
        <div class="col">
          <shift-maker (timeStamps)="getShiftTime($event)" title="First Shift" id="first"></shift-maker>
        </div>
        <div class="col">
          <shift-maker (timeStamps)="getShiftTime($event)" title="Second Shift" id="second"></shift-maker>
        </div>
        <div class="col mb-5">
          <shift-maker (timeStamps)="getShiftTime($event)" title="Third Shift" id="third"></shift-maker>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <employee-schedule [employeeName]="'Alfredo Borroto'" [shifts]="['first shift', 'second shift', 'third shift', 'off']"></employee-schedule>
  </div>
</div>


{{timeFrame[0]|json}}
