.container1{
  max-width: 1288px;
}
.img1{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1019px;
  top: 53px
}

.row1 {
  position: absolute;
  left:70px;
  top: 41px;
}

.row2{
  position: absolute;
  left: 70px;
  top: 159px;
  width: 802px;
}

.row3{
  position: absolute;
  left: 70px;
  top: 277px;
  width: 980px;
}

.row4{
  position: absolute;
  left: 70px;
  top: 389px;
  width: 645px;
}

.col23{
  position: absolute;
  left: 200px;
}

.col33{
  position: absolute;
  left: 700px
}

.col24{
  position: absolute;
  left: 300px;
}

.col34{
  position: absolute;
  left: 550px
}
