<div class="container container1">
  <div class="row" style="padding-bottom: 10px; padding-left: 30px">
    <label for="discr" style="color: white; padding-top: 30px; padding-bottom: 2px">Transaction</label>
    <input type="text" id="discr" style="max-width: 626px">
  </div>
  <div class="row" style="padding-bottom: 10px; padding-left: 30px">
    <label for="date" style="color: white; padding-bottom: 2px">Sales Date</label>
    <input type="date" id="date" style="max-width: 194px">
  </div>
  <div class="row" style="padding-bottom: 10px; padding-left: 30px">
    <label for="cost" style="color: white; padding-bottom: 2px">Cost</label>
    <input type="number" id="cost" style="max-width: 287px">
  </div>
  <div class="row" style="padding-left: 30px">
    <label for="type" style="color: white; padding-bottom: 2px">Type of Transaction</label>
    <input type="text" id="type" style="max-width: 626px">
  </div>
  <div class="container container2">
    <button type="button" style="min-width: 152px; border-radius: 10px; background-color: #E1EBF6; color: black">Add</button>
  </div>
</div>


