.container1{
  position: absolute;
  left: 34px;
  top: 83px;
  width: 687px;
  height: 431px;
  border-radius: 10px;
  background-color: #828fa0;
  font-size: 20px;
  font-weight: 400;
}
.container2{
  text-align: center;
  padding-top: 25px;
}

