
<div class="container" >

<div  class="row" style="position: relative">

  <button class="form-control text-center py-2" readonly [disabled]="!shiftIsOff"
          data-bs-toggle="collapse"
          data-bs-hide = "panelIsOpen"
          [attr.data-bs-target]= "'#'+componentId"
          data-bs-placement="right"
          title="Click to toggle"
          style="position: relative;
          z-index: 1;
           border-radius: 0 0 0 0;
           border-width: 1px">{{displayText}}</button>

  <div  class="container mb-4 shadow"
        style="position: absolute;
        z-index: 2;
        top: 40px;
        background-color: #E1EBF6;
        border: 1px solid #828FA0">
    <div class="row g-1 py-2 justify-content-center collapse" (change)="update()" [attr.id]=componentId [hidden]="!shiftIsOff">
      <div class="col">
        <select ngModel [(ngModel)]="timeSelected.hour"  #hour class="form-control" name="hours">
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
      </div>
      <div class="col-1">
        <label class=" col-form-label">:</label>
      </div>
      <div class="col">
        <select ngModel [(ngModel)]="timeSelected.minute"  class="form-control" name="minutes">
          <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
        </select>
      </div>
      <div class="col-4">
        <select ngModel [(ngModel)]="timeSelected.meridian"  class="form-control" name="meridian">
          <option>am</option>
          <option>pm</option>
        </select>
      </div>
    </div>
  </div>
</div>
</div>



