<!--<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clockInOutModal" >Clock in/out Dialog</button>-->

<div class="modal fade" id="clockInOutModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content my-0">
        <div class="container-fluid" style="font-family: montserrat,serif ">
          <div class="row">
            <div class="card title">
              <div class="row ms-4 my-1 text-center">
                <div class="col"></div>
                <div class="col d-flex justify-content-center">
                  <span>{{empWorkTime.empName}}</span>
                </div>
                <div class="col d-flex justify-content-end me-4">
                  <button class="btn-close btn-close-white" data-bs-toggle="modal"></button>
                </div>
              </div>
              <div class="row">
                <div class="card subtitle" >
                  <div class="row-cols text-center my-1">
                    <span>You are currently: </span>
                    <span *ngIf="startActive" style="background-color: #A73E40">Clocked Out </span>
                    <span *ngIf="!startActive" style="background-color: #4A7E3B">Clocked In </span>
                  </div>
                  <div class="row-cols body">
                    <div class="row-cols d-flex justify-content-center py-3">
                      <img alt="" class="shadow" [src]= empWorkTime.empPhotoUrl style="width: 200px">
                    </div>

                    <div class="row d-flex justify-content-center text-center" style="color: black">
                      <span id="currDate">{{currDateStr}}</span>
                      <span class="mx-5" id="currTime"><clock [color]="clockColor"></clock></span>
                    </div>

                    <div class="row-cols d-flex justify-content-center my-4">
                      <button (click)="clockIn()" type="button" class=" btn btn-success me-3" [disabled]="!startActive" style="background-color: #4A7E3B">Start Day</button>
                      <button (click)="clockOut()" type="button" class=" btn btn-danger ms-3" [disabled]="!endActive" style="background-color: #A73E40">End Day</button>
                    </div>
                    <div class="row-cols d-flex justify-content-center my-4">
                      <button (click)="lunchOut()" type="button" class=" btn btn-secondary me-3" [disabled]="!lunchOutActive" style="background-color: #454E5C">Out to lunch</button>
                      <button (click)="lunchIn()" type="button" class=" btn btn-secondary ms-3" [disabled]="!lunchInActive" style="background-color: #454E5C">Back from lunch</button>
                    </div>

                    <div class="row"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--{{empWorkTime | json}}-->
