<div class="container container1">
  <div class="text-md-start">Transaction History</div>
  <div class="container-fluid container2">
    <div class="col">
      <table class="table table-striped table-hover">
        <thead style="color: white">
        <th style="text-align: center">Date</th>
        <th style="text-align: center">Amount</th>
        <th style="text-align: center">For</th>
        <th style="text-align: center">Method</th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor="let result of results">
          <td style="text-align: center; color: white">{{result.Date}}</td>
          <td style="text-align: center; color: white">{{result.Amount}}</td>
          <td style="text-align: center; color: white">{{result.For}}</td>
          <td style="text-align: center; color: white">{{result.Method}}</td>
          <td style="text-align: center"><button class="btn">View/Print Receipt</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
