<div class="container container1">
  <div class="text-md-start">Transaction History</div>
  <div class="container-fluid container2">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead style="background-color: #E1EBF6; color: black">
        <th style="text-indent: 10px">Date</th>
        <th style="text-align: center">Amount</th>
        <th style="text-align: center">For</th>
        <th style="text-align: center">Method</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor="let result of results">
          <td>{{result.name}}</td>
          <td style="text-align: center">{{result.address}}</td>
          <td style="text-align: center">{{result.unit}}</td>
          <td style="text-align: center">{{result.block}}</td>
          <td style="text-align: center">{{result.lot}}</td>
          <td style="text-align: center"><button style="border: none">view/edit</button></td>
          <td style="text-align: center"><button style="border-radius: 10px; background-color: #A73E40; color: white">Remove</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
