.card {
  color: white;
}

.title {
  background-color: #454E5C;
}

.subtitle {
  background-color: #828FA0;
}

.body {
  background-color: #F5F5F5;
  margin-bottom: 10px;
}

.btn {
  width: 200px;
  background-color: #E1EBF6;
  color: black;
}

.btn-close {
  color: white;
}

.scrollable-textarea {
  height: auto;
  overflow-y: auto;
}
