
<div class="bg-image" style="background-image: url(assets/loginBackground.jpg); height: 100vh;">

  <div class="container shadow rounded-2 position-absolute top-50 start-50 translate-middle" style="background-color: #E1EBF6; width: 350px; height: 600px;">

    <div class="row my-5 mx-auto" style="width: 60%;">
      <img src="assets/loginLogo.svg">
    </div>

    <div class="ps-4 my-4">
      <div class="input-group">
        <input type="email" class="form-control shadow" placeholder="Email" style="border-color: #828FA0;">
        <span class="input-group-text me-4" id="emailIcon" style="border-color: #828FA0;"><img src="assets/userIcon.svg" style="height: 20px;"></span>
      </div>
    </div>

    <div class="ps-4 my-4">
      <div class="input-group">
        <input type="password" class="form-control shadow" placeholder="Password" style="border-color: #828FA0;">
        <span class="input-group-text me-4" id="passwordIcon" style="border-color: #828FA0;"><img src="assets/lockIcon.svg" style="height: 20px;"></span>
      </div>
    </div>


    <div class="my-3 mx-5">
      <div class="form-check mx-5">
        <input  class="form-check-input" type="radio" name= "selector" id="employeeCheck" style="background-color: #828FA0">
        <label class="form-check-label" for="employeeCheck" style="margin-left:10px">Employee</label>
      </div>
      <div class="form-check mx-5">
        <input  class="form-check-input" type="radio" name= "selector" id="memberCheck"  checked style="background-color: #828FA0;">
        <label class="form-check-label" for="employeeCheck" style="margin-left:10px">Member</label>
      </div>
    </div>

    <div class="text-center my-4">
      <button class="bnt shadow rounded-2" type="button" style="background-color: #828FA0; color: white; width: 60%; height: 35px;">Sign In</button>
    </div>

    <div class="text-center mb-5">
      <button class="bnt rounded-2" type="button" style="background-color: #A73E40; color: white; width: 60%; height: 35px;">Exit</button>
    </div>

  </div>
</div>
