<div class="container col-3">
  <div class="card" style="background-color: #828FA0; min-width: 250px">
    <form class="col-10 m-auto min" (change)="sendTimeFrame()">
      <div class="form-group">
        <label class="col-form-label" for="yearSelect">Select Year</label>
        <select [(ngModel)]="yearSelected" (ngModelChange)= "onYearChange()" class="form-select" name="yearSelect" id="yearSelect">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="monthSelect">Select Month</label>
        <select [(ngModel)]="monthSelected" (ngModelChange)= "onYearChange()" class="form-select" name="monthSelect" id="monthSelect">
          <option *ngFor="let month of months" [value]="month">{{month}}</option>
        </select>
      </div>
      <div class="form-group pb-4">
        <label class="col-form-label" for="weekSelect">Select Week</label>
        <select [(ngModel)]="weekSelected" (ngModelChange)= "onYearChange()" class="form-select" name="weekSelect" id="weekSelect">
          <option *ngFor="let week of weeks; trackBy: identify" [value]="week.weekText">{{week.weekText}}</option>
        </select>
      </div>
    </form>
  </div>
</div>
{{ weekSelected}}
<br>
{{monthSelected}}
<br>
{{yearSelected}}
