.container{
  min-width: 1440px;
  max-width: 1440px;
  overflow: auto;
  alignment: center;
  padding-top: 15px;
}

.btn1{
  position: absolute;
  max-width: 150px;

}

.row2{
  padding-top: 10px;
  justify-content: center;
}

.col2{
  justify-content: center;
}
