<div class="container" style="font-family: montserrat,serif ">
  <div class="row">
    <div class="card title mt-5" style="background-color: #454E5C; color: white; min-width: 1200px">
      <div class="row my-1">
        <div class="col ms-5">
          <ng-content select=".heading"></ng-content>
        </div>
        <div class="col  text-end me-5">
          <ng-content select=".title"></ng-content>
        </div>
      </div>
      <div class="row">
        <div class="card subtitle" style="background-color: #828FA0">
          <ng-content select=".heading2"></ng-content>
          <div style="background-color: #f5f5f5">
          <ng-content select=".content"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
