.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}
.ftCard{
  background-color: #E1EBF6;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}
 .form-control {
   justify-items: center;
   margin: 25px auto;
   width: 70%;
   border-color: #828FA0;
 }
 span{
   border-color: #828FA0;
   margin: 25px auto;
 }
.clkText{
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;
}
#fEmail{
  background-color: transparent;
  border-color: transparent;
  width: 150px;
}
#fPassword{
  background-color: transparent;
  border-color: transparent;
  width: 150px;
  padding-bottom: 20px;
}
.form-check-input{
  margin-left: 10%;
  margin-right: 10px;
}

.card{
  border-width: 1px;
  border-color: #828FA0;
  background-color: transparent;
  margin: 15px 80px 15px 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#signInBtn, #signUpBtn, #exitBtn{
  border-radius: 5px;
  background-color: #828FA0;
  color: white;
  width: 70%;
  justify-items: center;
  margin: 10px auto;
}
 #exitBtn{
  background-color: #A73E40;
   margin-bottom: 30px;
 }

 #signUpForm{

 }
h1{
  text-align: center;
}
