<div class="bg-image" style="background-image: url(assets/loginBackground.jpg); height: 100vh">
<div class="container" style="font-family: montserrat">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-8 position-absolute top-50 start-50 translate-middle">
      <div class="card p-5 text-center" *ngIf="getMode()== Mode.login || Mode.signup" [@fadeInOut] style="background-color: #E1EBF6; border-radius: 20px">
        <div class="row justify-content-center">
          <div>
            <img src="assets/loginLogo.svg" class="card-img-top h-75">
          </div>
        </div>

        <div class="signIn" *ngIf="getMode()== Mode.login" [@fadeInOut]>
          <div class="card-body">
            <div class="row-cols-10">
              <div class="row">
                <h1 class="card-title">Sign In</h1>
              </div>
              <div class="row pt-4 pb-4">

                <div class="input-group">
                  <input class="form-control shadow" type="email"placeholder="Email" style="background-color: #F5F5F5">
                  <span class="input-group-text shadow"><img src="assets/userIcon.svg" style="height: 30px"></span>
                </div>

              </div>


              <div class="row">
                <div class="input-group">
                  <input class="form-control shadow" type="password"placeholder="Password">
                  <span class="input-group-text shadow"><img src="assets/lockIcon.svg" style="height: 30px"></span>
                </div>
              </div>

              <div class="row-cols-10 pt-4 pb-2">
                <button class="btn" style="border-color: transparent">Forgot Email</button>
              </div>

              <div class="row-cols-10 pb-4">
                <button class="btn" style="border-color: transparent">Forgot Password</button>
              </div>

              <div class="row justify-content-center pb-5">
                <div class="card col-6 py-3" style="background-color: transparent">
                  <div class="form-check">
                    <input  class="form-check-input" type="radio" name="selector" id="employeeCheck">
                    <label class="form-check-label" for="employeeCheck" >Employee</label>
                  </div>
                  <div class="form-check">
                    <input  class="form-check-input" type="radio" name="selector" id="memberCheck" checked>
                    <label class="form-check-label" for="memberCheck">Member</label>
                  </div>
                </div>
              </div>
              <div class="row-col">
                <div class="row pb-4">
                  <button class="btn btn-primary btn-lg" style="background-color: #828FA0; border-color: #828FA0">Sign In</button>
                </div>
                <div class="row pb-4">
                  <button (click)="toSignUp()" class="btn btn-primary btn-lg" style="background-color: #828FA0; border-color: #828FA0">Sign Up</button>
                </div>
                <div class="row">
                  <button class="btn btn-primary btn-lg" style="background-color: #A73E40; border-color: #828FA0">Exit</button>
                </div>
              </div>
            </div>
        </div>
      </div>

        <div class="signUp" *ngIf="getMode()== Mode.signup" [@fadeInOut]>
          <div class="card-body">
            <div class="row-cols-10">
              <div class="row pb-4">
                <h1 class="card-title">Sign Up</h1>
              </div>
            <div class="row-col">
              <form class="row gy-4">
                <div class="input-group">
                  <input class="form-control shadow" type="text"placeholder="Member ID" style="background-color: #F5F5F5">
                  <span class="input-group-text shadow"><img src="assets/userIcon.svg" style="height: 28px"></span>
                </div>

                <div class="input-group">
                  <input class="form-control shadow" type="email"placeholder="Email" style="background-color: #F5F5F5">
                  <span class="input-group-text shadow"><img src="assets/emailIcon.svg" style="height: 28px"></span>
                </div>

                <div class="input-group">
                  <input class="form-control shadow" type="password"placeholder="Password" style="background-color: #F5F5F5">
                  <span class="input-group-text shadow"><img src="assets/lockIcon.svg" style="height: 28px"></span>
                </div>

                <div class="input-group">
                  <input class="form-control shadow" type="password"placeholder="Re-type Password" style="background-color: #F5F5F5">
                  <span class="input-group-text shadow"><img src="assets/lockIcon.svg" style="height: 28px"></span>
                </div>

                <div class="row pt-5 gy-3">
                  <button (click)="signUp()" class="btn btn-primary btn-lg" style="background-color: #828FA0; border-color: #828FA0">Sign Up</button>
                  <button (click)="back()" class="btn btn-primary btn-lg" style="background-color: #828FA0; border-color: #828FA0">Back</button>
                </div>



              </form>
            </div>
          </div>
        </div>
    </div>

        <div class="forgotEmail" *ngIf="getMode()== Mode.forgotEmail" [@fadeInOut]>
          <div class="card-body">
            <div class="row-cols-10">
              <div class="row pb-4">
                <h1 class="card-title">Forgot Email</h1>
              </div>
              <div class="row-col">
                <form class="row gy-4">
                  <div class="input-group">
                    <input class="form-control shadow" type="text"placeholder="Member ID" style="background-color: #F5F5F5">
                    <span class="input-group-text shadow"><img src="assets/userIcon.svg" style="height: 28px"></span>
                  </div>
                  <div class="row pt-3">
                    <p>Please enter your HOA member Id</p>
                  </div>

                  <div class="result">
                    <div class="row" *ngIf="getEmailFound()!=''; then found else notFound"></div>
                    <ng-template #found>
                      <p>Here is the email linked to your account:</p>
                      <p>{{getEmailFound()}}</p>
                    </ng-template>
                    <ng-template #notFound>
                      <p>Sorry there is no email associated to this account.</p>
                      <p>Please sign up to proceed.</p>
                    </ng-template>
                  </div>

                  <div class="row pt-5 gy-3">
                    <button (click)="signUp()" class="btn btn-primary btn-lg" style="background-color: #828FA0; border-color: #828FA0">Find my Email</button>
                    <button (click)="back()" class="btn btn-primary btn-lg" style="background-color: #828FA0; border-color: #828FA0">Back</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>







































<!--<div class="ftCard" >&ndash;&gt;-->
  <!--      <form form-control>-->
  <!--        <img src="assets/loginLogo.svg" class="mx-auto my-5 d-block"  alt="HOA Manager Logo">-->
  <!--        <div class="input-group">-->
  <!--          <input class="form-control shadow ms-4" type="email" name="email" id="email" placeholder="Email" required="true">-->
  <!--          <span class="input-group-text me-4" id="emailIcon"><img src="assets/userIcon.svg" alt="user icon" style="height: 20px"></span>-->
  <!--        </div>-->
  <!--        <div class="clkText">-->
  <!--          <button  id="fEmail">Forgot Email</button>-->
  <!--        </div>-->
  <!--        <div class="input-group">-->
  <!--          <input class="form-control shadow ms-4" type="password" name="password" id="password" placeholder="Password" required="true">-->
  <!--          <span class="input-group-text me-4" id="passIcon"><img src="assets/lockIcon.svg" alt="user icon" style="height: 20px"></span>-->
  <!--        </div>-->
  <!--        <div class="clkText">-->
  <!--        <button id="fPassword">Forgot Password</button>-->
  <!--        </div>-->
  <!--        <div class="card">-->
  <!--          <div class="form-check ">-->
  <!--            <input  class="form-check-input" type="radio" name="selector" id="employeeCheck">-->
  <!--            <label class="form-check-label" for="employeeCheck" >Employee</label>-->
  <!--          </div>-->
  <!--          <div class="form-check">-->
  <!--            <input  class="form-check-input" type="radio" name="selector" id="memberCheck" checked>-->
  <!--            <label class="form-check-label" for="memberCheck">Member</label>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="row row-cols-1">-->
  <!--          <button (click)="mode=Mode.signup" class="btn shadow" id="signUpBtn">Sign up</button>-->
  <!--          <button class="btn shadow" id="signInBtn">Sign In</button>-->
  <!--          <button class="btn shadow" id="exitBtn">Exit</button>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--</div>-->

  <!--  <div class="ftCard" [hidden]="mode!= Mode.signup">-->
  <!--    <div class="container">-->
  <!--      <div class="col">-->
  <!--        <form id="col signUpForm">-->
  <!--          <div class="row">-->
  <!--            <img src="assets/loginLogo.svg" class="mx-auto my-5 d-block"  alt="HOA Manager Logo">-->
  <!--          </div>-->
  <!--          <div class="row-cols-1">-->
  <!--            <h1>Sign Up</h1>-->
  <!--          </div>-->
  <!--          <div class="row">-->
  <!--            <input class="form-control shadow" type="text" placeholder="Member ID">-->
  <!--          </div>-->
  <!--          <div class="row">-->
  <!--            <input class="form-control shadow" type="email" placeholder="Email">-->
  <!--          </div>-->
  <!--          <div class="row">-->
  <!--            <input class="form-control shadow" type="password" placeholder="Create password">-->
  <!--          </div>-->
  <!--          <div class="row">-->
  <!--            <input class="form-control shadow" type="password" placeholder="Re-type password">-->
  <!--          </div>-->
  <!--          <div class="row">-->
  <!--            <button class="btn" id="signUpBtn1">Sign Up</button>-->
  <!--          </div>-->
  <!--        </form>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
